@media (min-width: 1280px) {
    // DETAIL BIEN //
    #detailBien {

        .container {

            .divEntete {
                width: 100%;
                display: flex;
                flex-direction: row;
                
                .divInfos {
                    width: 100%;
                }
                
                .divUserCommands {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    
                    .divOne {
                        height: 100%;
                        flex-direction: column;
                        align-items: flex-end;
                        padding-top: 60px;
                    }
                    
                    .divTwo {
                        height: 100%;
                    }
                }
            }

            .divGalerie {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 60px;
                gap: 45px;

                .divImages {
                    max-width: 855px;
                    justify-content: flex-start;

                    grid-template-areas: 
                    "PreviewOne PreviewTwo" 
                    "PreviewOne PreviewThree";

                    .imgPreviewOne {
                        width: 535px;
                    }
                    .imgPreviewTwo {
                        width: 100%;
                    }
                    .imgPreviewThree {
                        width: 100%;
                    }

                    .moreImages {
                        top: 345px;
                        left: 480px;
                    }
                }

                .divCarte {
                    width: 300px;
                }
            }
        }
    }

    // ESPACE PERSONNEL //
    #espacepersonnel {

        .container {

            .divGalerie {
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 60px;
                gap: 45px;

                .divImages {
                    max-width: 855px;
                    justify-content: flex-start;

                    grid-template-areas: 
                    "PreviewOne PreviewTwo" 
                    "PreviewOne PreviewThree";

                    .imgPreviewOne {
                        width: 535px;
                    }
                    .imgPreviewTwo {
                        width: 100%;
                    }
                    .imgPreviewThree {
                        width: 100%;
                    }

                    .moreImages {
                        top: 345px;
                        left: 480px;
                    }
                }

                .divCarte {
                    width: 300px;
                }
            }

            .divProfilContent {
                
                .divProfilImg {
                    height: 300px;                    
                }

                .divProfilInfos {
                    max-width: 855px;
                }
            }

            
        }
    }
}